doctype html
html(lang='de', ng-app='tir' ng-controller="tirController")
  head
    meta(name='author', content='Dominik Sigmund')
    meta(name='publisher', content='Dominik Sigmund')
    meta(name='copyright', content='Dominik Sigmund')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='page-topic', content='')
    meta(name='page-type', content='')
    meta(name='audience', content='Alle')
    meta(http-equiv='content-language', content='de')
    meta(name='robots', content='index, follow')
    meta(name='DC.Creator', content='Dominik Sigmund')
    meta(name='DC.Publisher', content='Dominik Sigmund')
    meta(name='DC.Rights', content='Dominik Sigmund')
    meta(name='DC.Description', content='')
    meta(name='DC.Language', content='de')
    if dev
      include ./styles-dev.jade
    else
      include ./styles.jade
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/images/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#2196F3")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="msapplication-config", content="/images/browserconfig.xml")
    meta(name="theme-color", content="#2196F3")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title ᛏIR
  body.no-skin
    nav.navbar.navbar-default.navbar-fixed-top
      .fluid-container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src="images/android-chrome-192x192.png")
            span ᛏIR
        #navbar.collapse.navbar-collapse(style="max-height: 500px;")

        // /.nav-collapse
    #content.fluid-container
      #ng-view(ng-view)
    script(src="/reload/reload.js")
    if dev
      include ./scripts-dev.jade
    else
      include ./scripts.jade
